/* Header */
.navbar-header{
    display: inline-block;
}
/* Header */

/* Filter */
#filter{
    margin: 0 0 0 4px;
    padding: 0 10px;
    color: black;
    border-radius: 5px;
}
/* Filter */

/* Tags */
.label-warning{
    margin: 0 10px 0 0;
}
/* Tags */

/* Review Page */
.review{
    padding-bottom: 5px;
}

.panel-body.review-container{
    padding-top: 0;
}

.review-header{
    margin-bottom: 10px;
}

.reviewAuthor{
    margin: 0 5px;
}

.reviewTimestamp{
    color: #ccc;
}
/* Review Page */

/* Footer */
footer{
    text-align: center;
    margin: 20px auto 0;
}
/* Footer */