extends layout

block content
    #banner.page-header
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h1= title
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            p !{(content).replace(/\n/g, '<br/>')}